name: .NET Build, Test, Publish

env:
  AZURE_WEBAPP_NAME: "btchoum-todos-web-app"    # set this to the name of your Azure Web App
  AZURE_WEBAPP_PACKAGE_PATH: '.'

on:
  push:
    branches: [ "main" ]
    
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore ./webapp/TodosApp.sln
    - name: Build
      run: dotnet build ./webapp/TodosApp.sln --no-restore --configuration Release
    - name: Test
      run: dotnet test ./webapp/TodosApp.sln --no-build --verbosity normal --configuration Release --logger trx --results-directory "TestResults"
    - name: Upload dotnet test results
      uses: actions/upload-artifact@v3
      with:
        name: dotnet-results
        path: TestResults
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
    - name: Publish
      run: dotnet publish  ./webapp/TodosApp.Web/TodosApp.Web.csproj --no-build --verbosity normal --configuration Release -o ${{env.DOTNET_ROOT}}/webapp
    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v3
      with:
        name: webapp
        path: ${{env.DOTNET_ROOT}}/webapp
  
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: webapp
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }} # Define secret variable in repository settings as per action documentation
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}